@import "tailwindcss";

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

.nav-link {
  position: relative;
  padding: 0.25rem 0;
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: black;
  transition: all 0.35s ease;
  transform: translateX(-50%);
}

.nav-link:hover::before {
  width: 175%;
  max-width: calc(100% + 2rem);
  left: 50%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}